<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    <%= render 'shared/user_info' %>
    </section>
    
  </aside>

<div class="col-md-8">
   <h3><%= @title %></h3>
    <section class= following>
      <% if @users.any? %>
        <section class= followingusers>
            <% @users.each do |user| %>
        <table border="0">
          <tr>
            <td><%= link_to gravatar_for(user, size: 100), user %></td>
            <td><%= link_to user.name, user %></td>
          </tr>
        </table>
          <% end %>
        </div>
      <% end %>
    </section>
  
</div>